@using RentACarProject.CqrsPattern.Results
@model List<GetRentCarQueryResult>
@{
    ViewData["Title"] = "CarList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body>

    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Filo Listesi</h1>
                <h1 class="page-subhead-line">Filonuz ile ilgili işlemleri bu alandan yapabilirsiniz. </h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--   Kitchen Sink -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        ÖFG Araba Kiralama
                        <a href="/Admin/CreateCar/" class="btn btn-secondary" style="float:right;">Yeni Araç Ekle</a>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        
                                        <th>#</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Lokasyon</th>
                                        <th>Fiyat/Günlük</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th>@count</th>
                                        <td>@item.Brand</td>
                                        <td>@item.Model</td>
                                        <td>@item.Location</td>
                                        <td>@item.Price</td>
                                            <td><a href="/Admin/GetCar/@item.CarID" class="btn btn-info">Detay</a></td>
                                            <td><a href="/Admin/GetCar/@item.CarID" class="btn btn-primary">Güncelle</a></td>
                                            <td><a href="/Admin/DeleteCar/@item.CarID" class="btn btn-danger">Sil</a></td>
                                    <td>
                                                @if (item.Status == true)
                                                {
                                                    <a href="#" class="btn btn-success">Müsait</a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="btn btn-warning">Kirada</a>
                                                }
                                            </td>
                                    </tr>
                                    }
                                   
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>
                <!-- End  Kitchen Sink -->
            </div>
          
        </div>
    </div>
</body>
</html>


